<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google-signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.498971098678-scpv2le433k07o0t8icpi97i2uag9hb4</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
		<string>Manrope-ExtraLight.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
	</array>
</dict>
</plist>
